PngImage_1 RCDATA "C:\\Users\\alexs\\Documents\\Embarcadero\\Studio\\Projects\\Project1\\images\\collapse.png"
PngImage_2 RCDATA "C:\\Users\\alexs\\Documents\\Embarcadero\\Studio\\Projects\\Project1\\images\\expand.png"
